<section class="catberry main section">
	<div class="ui page grid">
		<div class="nine wide column">
			<div class="ui secondary segment">
				<div class="ui huge header">
					{{{l10n "CARD_TITLE"}}}
					<a href="https://www.npmjs.com/packages/catberry" target="_blank">
						<img src="/public/assets/section-card/images/npm-logo.svg" height="16px">
					</a>
					<div class="sub header">
						{{{l10n "CARD_DESC"}}}
					</div>
				</div>
				<p>
				<div class="ui small header">
					{{{l10n "CARD_TO_INSTALL"}}}
				</div>
				<code class="code hljs bash">
					# npm install -g catberry-cli
				</code>
				</p>
				<p>
				<div class="ui small header">
					{{{l10n "CARD_TO_CREATE_EMPTY"}}}
				</div>
				<code class="code hljs bash">
					$ catberry init empty-handlebars
				</code>
				</p>
				<p>
				<div class="ui small header">
					{{{l10n "CARD_TO_CREATE_EXAMPLE"}}}
				</div>
				<code class="code hljs bash">
					$ catberry init example
				</code>
				</p>
				<p>
				<div class="ui small header">
					{{{l10n "CARD_TO_LIST_TEMPLATES"}}}
				</div>
				<code class="code hljs bash">
					$ catberry init ?
				</code>
				</p>
			</div>
		</div>
		<div class="seven wide left aligned column">
			<img class="ui middle aligned image" src="/public/assets/section-card/images/catberryjs.svg">
		</div>
	</div>
</section>
