<section class="catberry main section">
	<div class="ui page grid">
		<div class="center aligned row">
			<div class="five wide column">
				<div class="ui icon center header">
					<i class="circular code icon"></i>
					<div class="content">
						{{{l10n "FEATURE_ISOMORPHIC_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_ISOMORPHIC_DESC"}}}
						</div>
					</div>
				</div>
			</div>
			<div class="five wide column">
				<div class="ui icon header">
					<i class="circular magic icon"></i>
					<div class="content">
						{{{l10n "FEATURE_SPA_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_SPA_DESC"}}}
						</div>
					</div>
				</div>
			</div>
			<div class="five wide column">
				<div class="ui icon header">
					<i class="circular unhide icon"></i>
					<div class="content">
						{{{l10n "FEATURE_SEO_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_SEO_DESC"}}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="center aligned row">
			<div class="five wide column">
				<div class="ui icon header">
					<i class="circular rocket icon"></i>
					<div class="content">
						{{{l10n "FEATURE_FAST_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_FAST_DESC"}}}
						</div>
					</div>
				</div>
			</div>
			<div class="five wide column">
				<div class="ui icon header">
					<i class="circular puzzle icon"></i>
					<div class="content">
						{{{l10n "FEATURE_EASY_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_EASY_DESC"}}}
						</div>
					</div>
				</div>
			</div>
			<div class="five wide column">
				<div class="ui icon header">
					<i class="circular checkmark box icon"></i>
					<div class="content">
						{{{l10n "FEATURE_READY_TITLE"}}}
						<div class="sub header">
							{{{l10n "FEATURE_READY_DESC"}}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

